
{% extends "base.html" %}

{% block title %} Partners List {% endblock %} 

{% block content %}
<body>
    <main class="container">
        <h1>Partners List</h1>
        <div class="flex">
            {% for partner in partners %}
                <div>
                    <h2>{{ partner.name }} - </h2>
                    <p>{{ partner.address }}</p>
                    <p>{{ partner.phone }}</p>
                    <p>{{ partner.email }}</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ review_form.as_p }}
                        <button type="submit" class="btn btn-primary">Rate</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </main>
</body>

{% endblock content %}